<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>StructureDefinition: CDS-Immunization-{{page.tcode}} - FHIR STU3</title>
  {% include header.html %}
</head>
<body>
{% include navbar.html %}

  <div id="segment-breadcrumb" class="segmnt">  <!-- segment-breadcrumb -->
    <div class="container">  <!-- container -->
      <ul class="breadcrumb">
        <li title="CDS-Immunization Profiles"><a href="cdsi-profiles.html"><b>CDS-Immunization Profiles</b></a></li>
        <li><b>CDS-Immunization {{page.title}} Profile</b></li>
        <li><b>XML</b></li>
      </ul>
    </div>  <!-- /container -->
  </div>  <!-- /segment-breadcrumb -->

  <div id="segment-content" class="segment">  <!-- segment-content -->
    <div class="container">  <!-- container -->
      <div class="row">
        <div class="inner-wrapper">
          <!-- CONTENT CONTENT -->

<div class="col-9">

  <ul class="nav nav-tabs"><li><a href="{{page.code}}.html">Content</a></li><li><a href="{{page.code}}-definitions.html">Detailed Descriptions</a></li><li><a href="{{page.code}}-mappings.html">Mappings</a></li><li class="active"><a href="#">XML</a></li><li><a href="{{page.code}}-json.html">JSON</a></li><li><a href="{{page.code}}-ttl.html">Turtle</a></li></ul>

  <h4><span class="sectioncount">D.1.0.6<a name="D.1.0.6"> </a></span> StructureDefinition: CDS-Immunization-{{page.tcode}} - XML <a title="link to here" class="self-link" href="{{page.code}}-xml.html#D.1.0.6"><img src="target.png"/></a></h4>

  <p>Definitions for the {{page.code}} Profile.</p>

  {%include StructureDefinition-{{page.code}}-xml-html.xhtml%}

</div>  <!-- col-9 -->

        </div>  <!-- /inner-wrapper -->
      </div>  <!-- /row -->
    </div>  <!-- /container -->
  </div>  <!-- /segment-content -->

  {% include footer.html %}
</body>
</html>
