---
category: home
---
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>CDS-Immunization Forecast Implementation Guide</title>
  {% include header.html %}
</head>
<body>
{% include navbar.html %}

  <div id="segment-content" class="segment">  <!-- segment-content -->
    <div class="container">  <!-- container -->
      <div class="row">
        <div class="inner-wrapper">
          <!-- CONTENT CONTENT -->

         <div class="col-9">

           <h1>CDS-Immunization Forecast Implementation Guide</h1>

<!--
  <h2>Table of Contents</h2>

  <p>
    <ol>
      <li><a href="#overview">Overview</a></li>
      <li><a href="#operation">Operation</a></li>
      <li><a href="#profiles">Profiles</a></li>
    </ol>
  </p>

-->

  <h2 id="overview">Overview</h2>

<p>
Clinical Decision Support for Immunizations is increasingly being used in health information systems to indicate which vaccinations a patient is due for next. Many of these expert systems are built as stand-alone systems that respond to web service requests. While these independent systems have similar requirements and outputs they use different web service standards. This project aims to create a common FHIR implementation guide that these expert systems may use to provide a common consistent interface. This common interface will be used for two main purposes:
<li>Provide a common interface that health information systems may write to and gain access to their choice of CDS engines. </li>
<li>Provide a common interface that may be used for testing and verifying the output of CDS engines. </li>

<p>

  <h2 id="operation">Operation</h2>
  </p>
    The proposed new FHIR operation defining this new standard interface is found here:
    <a href="cdsi-operation.html">CDS-Immunization Forecast Operation Definition</a>
  </p>

  <h2 id="profiles">Profiles</h2>
  </p>
    The proposed new FHIR profiles to be used in this new standard interface are found here:
    <a href="cdsi-profiles.html">CDS-Immunization Profiles</a>
  </p>
  </p>
    The following table lists the profiles and the base FHIR Resources from which they were derived. Each profile defines
    the minimum mandatory elements, extensions and terminology requirements that **MUST** be present. For each profile
    requirements and guidance are given in a simple narrative summary. A formal hierarchical table that presents a logical
    view of the content in both a differential and snapshot view is also provided along with references to appropriate
    terminologies and examples.
  </p>
  <table class="grid">
    <tr>
      <td>
        <b>CDS-Immunization Profile</b>
      </td>
      <td>
        <b>Base Resource</b>
      </td>
    </tr>
    <tr>
      <td><a href="cdsi-immunization.html">CDS-Immunization Immunization</a></td>
      <td>Immunization</td>
    </tr>
    <tr>
      <td><a href="cdsi-immunizationrecommendation.html">CDS-Immunization ImmunizationRecommendation</a></td>
      <td>ImmunizationRecommendation</td>
    </tr>
    <tr>
      <td><a href="cdsi-patient.html">CDS-Immunization Patient</a></td>
      <td>Patient</td>
    </tr>
  </table>

          </div>

        </div>  <!-- /inner-wrapper -->
      </div>  <!-- /row -->
    </div>  <!-- /container -->
  </div>  <!-- /segment-content -->

{% include footer.html %}
</body>
</html>
